


<div class="row">
  <div class="col-md-3">  </div>
  <div class="col-md-6 well">
    <h1>Add a User </h1>
    <form [formGroup]="form" (ngSubmit)="save()">
      <fieldset formGroupName="user">
        <legend>User</legend>
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" [(ngModel)]="user.name" formControlName="name" type="text" name="name" class="form-control">
          <div class="alert alert-danger" *ngIf="name.invalid && name.touched">
            <div *ngIf="name.errors.required">Name is required.</div> 
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input [(ngModel)]="user.email" formControlName="email" type="text" name="email" class="form-control">
          <div class="alert alert-danger" *ngIf="email.invalid && email.touched">            
            <div *ngIf="email.errors.email">Please enter a valid Email.</div> 
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input [(ngModel)]="user.phone" formControlName="phone" type="text" name="phone" class="form-control">
        </div>

        
      </fieldset>
      <fieldset formGroupName="address">
        <legend>Address</legend>
        <div class="form-group">
          <label for="street">Street</label>
          <input [(ngModel)]="user.address.street" formControlName="street" type="text" name="street" class="form-control">
        </div>
        <div class="form-group">
          <label for="suite">Suite</label>
          <input [(ngModel)]="user.address.suite" formControlName="suite" type="text" name="suite" class="form-control">
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input [(ngModel)]="user.address.city" formControlName="city" type="text" name="city" class="form-control">
        </div>
        <div class="form-group">
          <label for="zipcode">ZipCode</label>
          <input [(ngModel)]="user.address.zipcode"  formControlName="zipcode" type="text" name="zipcode" class="form-control">
        </div>
      </fieldset>
      <button class="btn btn-default" [disabled]="form.invalid" type="submit">Submit</button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>
