<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">     
      <a class="navbar-brand" href="#" routerLink="/">Sample Angular</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">       
        <li routerLinkActive="active">
          <a href="#" routerLink="users">Users</a>
        </li> 
          <li routerLinkActive="active">
          <a href="#" routerLink="posts">Posts</a>
        </li>        
      </ul>          
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>