<h1>Users</h1>
<div class="row">
  <div class="col-md-12" style="padding:10px">
    <a href="" class="btn btn-primary pull-right" routerLink="/user/new">Add New</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Email
          </th>
          <th>
            Edit
          </th>
          <th>
            Delete
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users;let i=index">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td><i class="glyphicon glyphicon-edit" (click)="edit(user.id)"></i> </td>
          <td><i class="glyphicon glyphicon-remove" (click)="delete(user.id,i)"></i></td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
